﻿@model PruebaBINSA.Models.Cliente
@{
    ViewBag.Title = "FormClientes";
}

<h2>Cliente</h2>
@using (Html.BeginForm("Save", "Clientes"))
{
    @Html.ValidationSummary(true, "Favor de Corregir estos errores.")
    <div class="form-group">
        @Html.LabelFor(c => c.Nombre)
        @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Domicilio)
        @Html.TextBoxFor(c => c.Domicilio, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Domicilio)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.CodigoPostal)
        @Html.TextBoxFor(c => c.CodigoPostal, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.CodigoPostal)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Poblacion)
        @Html.TextBoxFor(c => c.Poblacion, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Poblacion)
    </div>
    @*@Html.HiddenFor(c => c.Id)*@
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Clientes")'">Cerrar</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}



