﻿@model IEnumerable<PruebaBINSA.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<table class="table table-bordered table-hover" id="clientes">
<thead>
    <tr>
        <th>Nombre</th>
        <th>Domicilio</th>
        <th>Codigo Postal</th>
        <th>Poblacion</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
</thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Domicilio</td>
                <td>@cliente.CodigoPostal</td>
                <td>@cliente.Poblacion</td>
                <td>@Html.ActionLink("Editar", "Edit", "Clientes", new { id = cliente.Id }, null)</td>
                <td><button class='btn-link js-delete' data-cliente-id="@cliente.Id">Borrar</button></td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Nuevo Cliente", "FormClientes", "", new { @class = "btn btn-primary" })

@section scripts {
    <script>
        $(document).ready(function () {
            $("#clientes").on("click", ".js-delete", function () {
                var button = $(this);
                        $.ajax({
                            url: "@Url.Action("Delete","Clientes")" + button.attr("data-cliente-id"),
                            method: "DELETE",
                            success: function () {
                                window.location.replace("@Url.Action("Index","Clientes")");
                            },
                            error:
                                alert("No funciono")
                        });
                   
                });
        });
    </script>    
}