﻿@model PruebaBINSA.ViewModels.FormContactoViewModel
@{
    ViewBag.Title = "FormContactos";
}

<h2>Contacto</h2>

@using (Html.BeginForm("Save", "ContactosClientes"))
{
    @Html.ValidationSummary(true, "Favor de Corregir estos errores.")
    <div class="form-group">
        @Html.LabelFor(c => c.ContactosClientes.ClienteId)
        @Html.DropDownListFor(c => c.ContactosClientes.ClienteId, new SelectList(Model.Clientes, "Id", "Nombre"), "Seleccione un Cliente", new { @class = "form-control " })
        @Html.ValidationMessageFor(c => c.ContactosClientes.ClienteId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ContactosClientes.Nombre)
        @Html.TextBoxFor(c => c.ContactosClientes.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ContactosClientes.Nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ContactosClientes.Telefono)
        @Html.TextBoxFor(c => c.ContactosClientes.Telefono, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ContactosClientes.Telefono)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ContactosClientes.Email)
        @Html.TextBoxFor(c => c.ContactosClientes.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ContactosClientes.Email)
    </div>
    @Html.HiddenFor(c => c.ContactosClientes.Id)
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","ContactosClientes")'">Cerrar</button>
}

