﻿@model IEnumerable<PruebaBINSA.Models.ContactosCliente>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Contactos</h2>
    <table class="table table-bordered table-hover" id="">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contactos in Model)
            {
                <tr>
                    <td>@contactos.Cliente.Nombre</td>
                    <td>@contactos.Nombre</td>
                    <td>@contactos.Telefono</td>
                    <td>@contactos.Email</td>
                    <td>@Html.ActionLink("Editar", "Edit", "ContactosClientes", new { id = contactos.Id }, null)</td>
                    <td>Borrar</td>
                </tr>
            }
        </tbody>
    </table>

@Html.ActionLink("Nuevo Contacto", "FormContactos", "", new { @class = "btn btn-primary" })



